<%- include("partials/header") -%>

<div class="rowcontainer">
  <a href="/studyplan-data" class="btn-home colored">
    <span >Menu 1</span>
  </a>
  <a href="/studyplan-data" class="btn-home colored">
    Menu 2
  </a>
  <a href="/studyplan-data" class="btn-home colored">
    Menu 3
  </a>
  <a href="/studyplan-data" class="btn-home colored">
    Menu 4
  </a>
</div>

<%- include("partials/footer") -%>