<%- include("partials/header") -%>

<div class="rowcontainer">
  <a href="/studyplan-data" class="btn-home colored">
    <span class="icon menu1"></span>
  </a>
  <a href="/studyplan-data" class="btn-home colored">
    <span  class="icon menu2"></span>
  </a>
  <a href="/studyplan-data" class="btn-home colored">
    Menu 3
  </a>
  <a href="/studyplan-data" class="btn-home colored">
    Menu 4
  </a>
</div>
<div class="colcontainer">
  <span class="subtittle">Study Plan</span>
  <span class="subtittle">Subject's Description</span>
  <span class="subtittle">menu3</span>
  <span class="subtittle">menu4</span>
</div>

<%- include("partials/footer") -%>