<%- include("header") -%>

<div class="container">
  <form id="contact" action="" method="post">
    <h3>Colorlib Contact Form</h3>
    <h4>Contact us for custom quote</h4>
    <fieldset>
      <input placeholder="Universidad" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Facultad" type="text" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Carrera" type="text" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Año de inclusión" type="text" tabindex="3" required>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    <p class="copyright">Designed by <a href="https://rjva.com" target="_blank" title="Colorlib">RJVA</a>
    </p>
  </form>
</div>
<!-- <script type="text/javascript" src="js/listeners.js"></script> -->
<%- include("footer") -%>