<%- include("header") -%>

<div class="container">
  <form id="contact" action="/" method="post">
    <h3>51% Admin page</h3>
    <h4>Paso 1: llenar datos grales...</h4>
    <fieldset>
      <input name = "college" placeholder="Universidad" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input name = "faculty" placeholder="Facultad" type="text" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input name = "major" placeholder="Carrera" type="text" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input name = "cvyear" placeholder="Año de inclusión" type="text" tabindex="3" required>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Guardando">Guardar e ir a paso 2</button>
    </fieldset>
    <p class="copyright">Designed by <a href="https://rjva.com" target="_blank" title="Colorlib">RJVA</a>
    </p>
  </form>
</div>
<%- include("footer") -%>