<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="container">
  <form id="contact" action="" method="post">
    <h3>Colorlib Contact Form</h3>
    <h4>Contact us for custom quote</h4>
    <fieldset>
      <input placeholder="Universidad" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Carrera" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Phone Number (optional)" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="Your Web Site (optional)" type="url" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="Type your message here...." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
    <p class="copyright">Designed by <a href="https://rjva.com" target="_blank" title="Colorlib">RJVA</a>
    </p>
  </form>
</div>

<div id="container"></div>

<script src="https://unpkg.com/konva@4.0.4/konva.min.js"></script>
<script type="text/javascript" src="js/graphs.js"></script>
<%- include("footer") -%>