<%- include("partials/header") -%>

<div class="container">
  <form autocomplete="off" id="contact" onsubmit="return validate();" method="post">
    <h3>51% Admin page</h3>
    <h4>Step 1: fill college data...</h4>
    <fieldset>
      <div class="autocomplete" >
        <input id="college" name="college" placeholder="University" type="text" tabindex="1" required>
      </div>
    </fieldset>
    <fieldset>
      <div class="autocomplete" >
        <input id="faculty" name="faculty" placeholder="Faculty" type="text" tabindex="2" required>
      </div>
    </fieldset>
    <fieldset>
      <div class="autocomplete" >
        <input id="major" name="major" placeholder="Major" type="text" tabindex="2" required>
      </div>
    </fieldset>
    <fieldset>
      <div class="autocomplete" >
        <input id="cvyear" name="cvyear" placeholder="Curriculum year" type="text" tabindex="3" required>
      </div>
    </fieldset>
    <fieldset>
      <div class="autocomplete">
        <button name="submit" type="submit" id="contact-submit" data-submit="...Guardando">First fill the upper fields</button>
      </div>
    </fieldset>
    <p class="copyright">Designed by <a href="https://rjva.com" target="_blank" title="Colorlib">RJVA</a>
    </p>
    <input type="hidden" name="modify" id="hiddenInput" value="ahorita nada"/>
  </form>
</div>
<script type="text/javascript" src="js/autocompletion.js"></script>
<script type="text/javascript" src="js/checkdata.js"></script>
<%- include("partials/footer") -%>